@charset "UTF-8";

nav ul li.main_menu:nth-child(3)>a {
  color: #009223;
}

#main .title {
  border-top: 1px solid #E5E5E5;
}

#header {
  box-shadow: none;
}

.filter_container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.filter_container button {
  font-size: 15px;
  font-weight: 500;
  color: #009223;
  width: 100%;
}

main .event_title {
  text-align: center;
  color: #292929;
  margin-top: 95px;
}

main .event_title h2 {
  font-size: 40px;
  font-weight: 500;
}

main .event_title p {
  font-weight: 500;
}

main .event_sub_title {
  margin-top: 5px;
  text-align: left;
  padding: 10px;
}

main .event_sub_title h3 {
  font-size: 18px;
  font-weight: 600;
}

main .event_sub_title p {
  font-size: 14px;
  font-weight: 900;
  color: #009223;
}

main .event_content {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 30px;
}

main .event_content .img_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

main .event_content .event_list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 9999px 0px 0px 9999px;
  width: 160px;
  height: 50px;
  background-color: #009223;
  right: 0;
  top: 65px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

main .event_content .event_list:hover {
  background-color: #007f1e;
}

main .event_content .video_wrap {
  position: absolute;
  top: 1578px;
  right: 609px;
}

main .slide_txt {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 370px;
  color: #292929;
}

main .slide_txt p:nth-child(1) {
  font-weight: 900;
  font-size: 16px;
  color: #009223;
}

main .slide_txt p:nth-child(2) {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #292929;
}

main .slide_txt p:nth-child(3) {
  color: #666666;
}

main .slide_txt .step_btn {
  position: absolute;
  bottom: 30px;
}

main .slide_txt .step_btn a {
  background-color: #009223;
  border-radius: 9999px;
  padding: 8px 14px;
  color: #ffffff;
  margin-right: 15px;
  font-weight: 500;
  transition: 0.2s;
}

main .slide_txt .step_btn a:hover {
  background-color: #047f21;
}

main .slide_txt .step_btn a::after {
  content: "";
  display: inline-block;
  background: url(../images/icon/ico_searchbar_white.png) no-repeat center;
  background-size: cover;
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
  margin-left: 5px;
}

main .slide_txt span {
  font-size: 14px;
}

main .event .event_container img {
  width: 100%;
}

main .event .event_container .slide_txt {
  width: 100%;
  text-align: center;
}