*{
    box-sizing:border-box;

}
html,body,h1,h2,h3,h4,h5,h6,p,div,a,
header,main,nav,footer,aside,section,article,figure,
table,thead,tbody,tfoot,tr,th,td,
ul,ol,li,dl,dt,dd,address,
video,img,em,span,sub,sup,code,del,s,q,blockquote,
form,fieldset,input,button,select,option,textarea {
    margin:0; padding:0;
    font-family: 'Pretendard', 'Noto Sans KR' , sans-serif;
}
ul,ol,li {list-style:none;}
table,thead,tbody,tfoot,tr,th,td {border-collapse:collapse;}
a {text-decoration:none; color:#000;}
fieldset {border:0;}
input, button, label {cursor:pointer; background:none; border:0;}

input:focus, select:focus {
    outline: none;
}

address{
    font-style:normal;
}

.flex{
    display: flex;
}

.hide { /*숨김처리*/
    display:block;
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.border_1px_r{
    border: 1px solid red;
}
.border_1px_b{
    border: 1px solid blue;
}
.border_3px_r{
    border: 3px solid red;
}
.border_3px_b{
    border: 3px solid blue;
}